################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBug.CountryProvider/.vs/CodeBug.CountryProvider/v16
/CodeBug.CountryProvider/CodeBug.CountryProvider/bin/Debug
/CodeBug.CountryProvider/CodeBug.CountryProvider/obj
/CodeBug.CountryProvider/CodeBug.CountryProvider.Tests/bin/Debug
/CodeBug.CountryProvider/CodeBug.CountryProvider.Tests/obj
/CodeBug.CountryProvider/packages
