################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBug.CountryProvider/.vs/CodeBug.CountryProvider/v16
